.col-sm {
    background-color: antiquewhite;
    border: thick double #32a1ce;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: large;
}

.col {
    background-color: burlywood;
    border: thick solid;
    text-align: center;
}