body {
    background-color: gold;
}

.navbar {
    background-color: darkviolet;
}

.col, .col-4, .col-8, .col-sm {
    border: solid;
    background-color: burlywood;
}

.container {
    background-color: tomato;
}