/*body {
    font-family: Frutiger;
}*/

.container {
    max-width: 85%;
}

.background {
    background: url("../assets/src_assets_img_background-louis-vuitton.svg") #433431;
    color: #A07C71;
}

.background-2 {
    background-color: rgb(233, 233, 233);
}

.background-3 {
    background-color: #ffffff;
}

h3, .home {
    color: white;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 13px;
}

h6 {
    margin: 1rem 0;
    color: #A07C71;
}

p {
    font-size: 0.9rem;
}

.two-blocks {
    margin: 4rem 0;

}

.col-sm-6 {
    margin-top: 45px;
}

.g-color {
    color: limegreen;
    font-size: 0.8rem;
}

.r-color {
    color: red;
    font-size: 0.8rem;
}

.brn-color {
    color: #A07C71;
}

img {
    width: 51%;
    height: 47%;
}

.pad {
    padding-top: 28rem;
}

.bdr-wdth {
    border-width:4px !important;
    border-color: rgb(215, 215, 215) !important;
}

.sixth-title {
    color: gray;
    font-size: 0.8rem;
}

.color {
    border-color: #6c5f5b;
}

.paddn-top {
    padding-top: 2rem ;
}

.paddn-1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.paddn-2 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.mrgn-rgt {
    margin-left: 1rem;
}

.last-col {
    padding-right: 3rem;
    padding-left: 1rem;
}
