.background {
    background: url("../assets/src_assets_img_background-louis-vuitton.svg") #433431;
    color: #A07C71;
}

.background-2 {
    background-color: #f3f3f3;
}

h3 {
    color: white;
}

h5 {
    color: #e07474;
}

h6 {
    margin: 1rem 0;
}

.two-blocks {
    margin: 4rem 0;
}


.col-sm-6 {
    margin-top: 25px;
}


